extends ui_layout
  
block content


  .computer.only.tablet.only.four.wide.column 
  #content.eight.wide.computer.ten.wide.tablet.sixteen.wide.mobile.column

    .ui.raised.fluid.card.profile_card
      //-h3.ui.center.aligned.header(style="background:#42c8f4;") 
        //-checkered5.png bluecheckered contain cover
      .content(style="background-image: url('/public/checkered6.png');background-size: cover;")
        //-h3.ui.center.aligned.header(style="background-image: url('/public/checkered6.png');background-size: cover;")
        .center.aligned
          a.pro_name_link(href='/user/NoahM1121')
            img.ui.centered.small.circular.image.pro_name_image(src="/post_pictures/"+'IMG_20170415_095155.jpg')
      .content(style="white-space:nowrap;")
        span(style="font-size:150%;font-weight: bold;")="What's on "
        a.pro_name_link(href='/user/NoahM1121')
          span(style="font-size:150%;font-weight: bold;").pro_name="Mary's"
        span(style="font-size:150%;font-weight: bold;")=" plate? "
        br
        span(style="white-space:normal;")="Kate, we care about helping you connect with others. Browse through Tom's posts. Imagine how Tom feels and what is going on in his life."

      //-.content(style="text-align:center;")
        span="Here are some of Noah's recents posts"
      .content()
        .ui.three.column.grid.pro
          .column.profile(body="this is a test!!!", time=9000)
            img.ui.fluid.image(src="/post_pictures/"+'IMG_20160625_113114.jpg')
          .column.profile(body="OK I see this now!!!")
            img.ui.fluid.image(src="/post_pictures/"+'IMG_20170415_095155.jpg')
          .column.profile(body="WHAT WHAT!!!")
            img.ui.fluid.image(src="/post_pictures/"+'IMG_4266.JPG')
          .column.profile(body="OMG ()()()()()()()()(!!!")
            img.ui.fluid.image(src="/post_pictures/"+'IMG_20170305_133410.jpg')
          .column.profile(body="HAHAHA but really WTF!!!")
            img.ui.fluid.image(src="/post_pictures/"+'IMG_20170519_184216.jpg')
          .column.profile(body="Last one")
            img.ui.fluid.image(src="/post_pictures/"+'vegan6.jpg')

      #survey.button.fluid.ui.button Survey
      

      

        //-.ui.small.images
          img(src='IMG_20160625_113114.jpg')
          img(src='IMG_4266.JPG')
          img(src='IMG_20170519_184216.jpg')
          img(src='IMG_20170415_095155.jpg')


      .ui.container
        #surveyModal.ui.tiny.post.modal(modal_id='321')
          .ui.form
            .inline.fields
              label(for='fruit') Select your favorite fruit:
              .field
                .ui.radio.checkbox
                  input.hidden(type='radio' name='fruit' checked='' tabindex='0')
                  label Apples
              .field
                .ui.radio.checkbox
                  input.hidden(type='radio' name='fruit' tabindex='0')
                  label Oranges
              .field
                .ui.radio.checkbox
                  input.hidden(type='radio' name='fruit' tabindex='0')
                  label Pears
              .field
                .ui.radio.checkbox
                  input.hidden(type='radio' name='fruit' tabindex='0')
                  label Grapefruit
            .grouped.fields
              label(for='fruit') Select your second favorite fruit:
              .field
                .ui.radio.checkbox
                  input.hidden(type='radio' name='fruit' checked='' tabindex='0')
                  label Apples
              .field
                .ui.radio.checkbox
                  input.hidden(type='radio' name='fruit' tabindex='0')
                  label Oranges
              .field
                .ui.radio.checkbox
                  input.hidden(type='radio' name='fruit' tabindex='0')
                  label Pears
              .field
                .ui.radio.checkbox
                  input.hidden(type='radio' name='fruit' tabindex='0')
                  label Grapefruit

    
    